<p>Example rows from the <code>adjustments</code> SWS datatable</p>
<table>
<thead>
<tr class="header">
<th align="right">year</th>
<th align="left">flow</th>
<th align="left">hs</th>
<th align="left">fcl</th>
<th align="left">partner</th>
<th align="left">weight</th>
<th align="left">qty</th>
<th align="left">value</th>
<th align="right">special</th>
<th align="left">reporter</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="right">2012</td>
<td align="left">1</td>
<td align="left">NA</td>
<td align="left">17</td>
<td align="left">NA</td>
<td align="left">10</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">8</td>
</tr>
<tr class="even">
<td align="right">2005</td>
<td align="left">2</td>
<td align="left">NA</td>
<td align="left">1168</td>
<td align="left">NA</td>
<td align="left">100</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">11</td>
</tr>
<tr class="odd">
<td align="right">NA</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="left">836</td>
<td align="left">NA</td>
<td align="left">0.6</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">52</td>
</tr>
<tr class="even">
<td align="right">2013</td>
<td align="left">4</td>
<td align="left">NA</td>
<td align="left">702</td>
<td align="left">194</td>
<td align="left">0.1</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">13</td>
</tr>
<tr class="odd">
<td align="right">2011</td>
<td align="left">1</td>
<td align="left">NA</td>
<td align="left">1061</td>
<td align="left">NA</td>
<td align="left">0.1</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">37</td>
</tr>
<tr class="even">
<td align="right">2013</td>
<td align="left">2</td>
<td align="left">9030000</td>
<td align="left">671</td>
<td align="left">231</td>
<td align="left">10</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">33</td>
</tr>
</tbody>
</table>
<p>The table below shows combinations of <code>flow</code>, <code>hs</code>, <code>partner</code> and <code>reporter</code> dimensions with n &gt;= 10 occurences. For each of these combinations, the relevant rows have been extracted from the <code>adjustments</code> table and sorted by year in ascending order.</p>
<table>
<thead>
<tr class="header">
<th align="left">rowname</th>
<th align="left">flow</th>
<th align="left">hs</th>
<th align="left">partner</th>
<th align="left">reporter</th>
<th align="right">count</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">1</td>
<td align="left">1</td>
<td align="left">4041048</td>
<td align="left">67</td>
<td align="left">210</td>
<td align="right">13</td>
</tr>
<tr class="even">
<td align="left">2</td>
<td align="left">2</td>
<td align="left">8051000</td>
<td align="left">114</td>
<td align="left">215</td>
<td align="right">11</td>
</tr>
<tr class="odd">
<td align="left">3</td>
<td align="left">1</td>
<td align="left">15220099</td>
<td align="left">68</td>
<td align="left">150</td>
<td align="right">10</td>
</tr>
<tr class="even">
<td align="left">4</td>
<td align="left">2</td>
<td align="left">22019000</td>
<td align="left">106</td>
<td align="left">198</td>
<td align="right">10</td>
</tr>
</tbody>
</table>
<p>[[1]]</p>
<table>
<thead>
<tr class="header">
<th align="right">year</th>
<th align="left">flow</th>
<th align="left">hs</th>
<th align="left">fcl</th>
<th align="left">partner</th>
<th align="left">weight</th>
<th align="left">qty</th>
<th align="left">value</th>
<th align="right">special</th>
<th align="left">reporter</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="right">1999</td>
<td align="left">1</td>
<td align="left">4041048</td>
<td align="left">NA</td>
<td align="left">67</td>
<td align="left">0.01</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">210</td>
</tr>
<tr class="even">
<td align="right">2001</td>
<td align="left">1</td>
<td align="left">4041048</td>
<td align="left">890</td>
<td align="left">67</td>
<td align="left">0.01</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">210</td>
</tr>
<tr class="odd">
<td align="right">2002</td>
<td align="left">1</td>
<td align="left">4041048</td>
<td align="left">890</td>
<td align="left">67</td>
<td align="left">0.01</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">210</td>
</tr>
<tr class="even">
<td align="right">2003</td>
<td align="left">1</td>
<td align="left">4041048</td>
<td align="left">890</td>
<td align="left">67</td>
<td align="left">0.01</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">210</td>
</tr>
<tr class="odd">
<td align="right">2004</td>
<td align="left">1</td>
<td align="left">4041048</td>
<td align="left">890</td>
<td align="left">67</td>
<td align="left">0.01</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">210</td>
</tr>
<tr class="even">
<td align="right">2006</td>
<td align="left">1</td>
<td align="left">4041048</td>
<td align="left">890</td>
<td align="left">67</td>
<td align="left">0.01</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">210</td>
</tr>
<tr class="odd">
<td align="right">2007</td>
<td align="left">1</td>
<td align="left">4041048</td>
<td align="left">890</td>
<td align="left">67</td>
<td align="left">0.01</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">210</td>
</tr>
<tr class="even">
<td align="right">2008</td>
<td align="left">1</td>
<td align="left">4041048</td>
<td align="left">890</td>
<td align="left">67</td>
<td align="left">0.01</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">210</td>
</tr>
<tr class="odd">
<td align="right">2009</td>
<td align="left">1</td>
<td align="left">4041048</td>
<td align="left">890</td>
<td align="left">67</td>
<td align="left">0.01</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">210</td>
</tr>
<tr class="even">
<td align="right">2010</td>
<td align="left">1</td>
<td align="left">4041048</td>
<td align="left">890</td>
<td align="left">67</td>
<td align="left">0.01</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">210</td>
</tr>
<tr class="odd">
<td align="right">2011</td>
<td align="left">1</td>
<td align="left">4041048</td>
<td align="left">890</td>
<td align="left">67</td>
<td align="left">0.01</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">210</td>
</tr>
<tr class="even">
<td align="right">2012</td>
<td align="left">1</td>
<td align="left">4041048</td>
<td align="left">890</td>
<td align="left">67</td>
<td align="left">0.01</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">210</td>
</tr>
<tr class="odd">
<td align="right">2013</td>
<td align="left">1</td>
<td align="left">4041048</td>
<td align="left">890</td>
<td align="left">67</td>
<td align="left">0.01</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">210</td>
</tr>
</tbody>
</table>
<p>[[2]]</p>
<table>
<thead>
<tr class="header">
<th align="right">year</th>
<th align="left">flow</th>
<th align="left">hs</th>
<th align="left">fcl</th>
<th align="left">partner</th>
<th align="left">weight</th>
<th align="left">qty</th>
<th align="left">value</th>
<th align="right">special</th>
<th align="left">reporter</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="right">1997</td>
<td align="left">2</td>
<td align="left">8051000</td>
<td align="left">490</td>
<td align="left">114</td>
<td align="left">0.1</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">215</td>
</tr>
<tr class="even">
<td align="right">2000</td>
<td align="left">2</td>
<td align="left">8051000</td>
<td align="left">490</td>
<td align="left">114</td>
<td align="left">0.1</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">215</td>
</tr>
<tr class="odd">
<td align="right">2001</td>
<td align="left">2</td>
<td align="left">8051000</td>
<td align="left">490</td>
<td align="left">114</td>
<td align="left">0.1</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">215</td>
</tr>
<tr class="even">
<td align="right">2002</td>
<td align="left">2</td>
<td align="left">8051000</td>
<td align="left">490</td>
<td align="left">114</td>
<td align="left">0.1</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">215</td>
</tr>
<tr class="odd">
<td align="right">2003</td>
<td align="left">2</td>
<td align="left">8051000</td>
<td align="left">490</td>
<td align="left">114</td>
<td align="left">0.1</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">215</td>
</tr>
<tr class="even">
<td align="right">2004</td>
<td align="left">2</td>
<td align="left">8051000</td>
<td align="left">490</td>
<td align="left">114</td>
<td align="left">0.1</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">215</td>
</tr>
<tr class="odd">
<td align="right">2005</td>
<td align="left">2</td>
<td align="left">8051000</td>
<td align="left">490</td>
<td align="left">114</td>
<td align="left">0.1</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">215</td>
</tr>
<tr class="even">
<td align="right">2006</td>
<td align="left">2</td>
<td align="left">8051000</td>
<td align="left">490</td>
<td align="left">114</td>
<td align="left">0.1</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">215</td>
</tr>
<tr class="odd">
<td align="right">2007</td>
<td align="left">2</td>
<td align="left">8051000</td>
<td align="left">490</td>
<td align="left">114</td>
<td align="left">0.1</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">215</td>
</tr>
<tr class="even">
<td align="right">2009</td>
<td align="left">2</td>
<td align="left">8051000</td>
<td align="left">490</td>
<td align="left">114</td>
<td align="left">0.1</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">215</td>
</tr>
<tr class="odd">
<td align="right">2012</td>
<td align="left">2</td>
<td align="left">8051000</td>
<td align="left">490</td>
<td align="left">114</td>
<td align="left">10</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">215</td>
</tr>
</tbody>
</table>
<p>[[3]]</p>
<table>
<thead>
<tr class="header">
<th align="right">year</th>
<th align="left">flow</th>
<th align="left">hs</th>
<th align="left">fcl</th>
<th align="left">partner</th>
<th align="left">weight</th>
<th align="left">qty</th>
<th align="left">value</th>
<th align="right">special</th>
<th align="left">reporter</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="right">1999</td>
<td align="left">1</td>
<td align="left">15220099</td>
<td align="left">NA</td>
<td align="left">68</td>
<td align="left">0.1</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">150</td>
</tr>
<tr class="even">
<td align="right">2000</td>
<td align="left">1</td>
<td align="left">15220099</td>
<td align="left">1277</td>
<td align="left">68</td>
<td align="left">0.1</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">150</td>
</tr>
<tr class="odd">
<td align="right">2007</td>
<td align="left">1</td>
<td align="left">15220099</td>
<td align="left">1277</td>
<td align="left">68</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="left">weight</td>
<td align="right">NA</td>
<td align="left">150</td>
</tr>
<tr class="even">
<td align="right">2008</td>
<td align="left">1</td>
<td align="left">15220099</td>
<td align="left">1277</td>
<td align="left">68</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="left">weight</td>
<td align="right">NA</td>
<td align="left">150</td>
</tr>
<tr class="odd">
<td align="right">2009</td>
<td align="left">1</td>
<td align="left">15220099</td>
<td align="left">1277</td>
<td align="left">68</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="left">m570</td>
<td align="right">NA</td>
<td align="left">150</td>
</tr>
<tr class="even">
<td align="right">2010</td>
<td align="left">1</td>
<td align="left">15220099</td>
<td align="left">1277</td>
<td align="left">68</td>
<td align="left">0.01</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">150</td>
</tr>
<tr class="odd">
<td align="right">2010</td>
<td align="left">1</td>
<td align="left">15220099</td>
<td align="left">1277</td>
<td align="left">68</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="left">weight</td>
<td align="right">NA</td>
<td align="left">150</td>
</tr>
<tr class="even">
<td align="right">2011</td>
<td align="left">1</td>
<td align="left">15220099</td>
<td align="left">NA</td>
<td align="left">68</td>
<td align="left">f0</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">150</td>
</tr>
<tr class="odd">
<td align="right">2012</td>
<td align="left">1</td>
<td align="left">15220099</td>
<td align="left">1277</td>
<td align="left">68</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="left">weight</td>
<td align="right">NA</td>
<td align="left">150</td>
</tr>
<tr class="even">
<td align="right">2013</td>
<td align="left">1</td>
<td align="left">15220099</td>
<td align="left">1277</td>
<td align="left">68</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="left">m1000</td>
<td align="right">NA</td>
<td align="left">150</td>
</tr>
</tbody>
</table>
<p>[[4]]</p>
<table>
<thead>
<tr class="header">
<th align="right">year</th>
<th align="left">flow</th>
<th align="left">hs</th>
<th align="left">fcl</th>
<th align="left">partner</th>
<th align="left">weight</th>
<th align="left">qty</th>
<th align="left">value</th>
<th align="right">special</th>
<th align="left">reporter</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="right">2004</td>
<td align="left">2</td>
<td align="left">22019000</td>
<td align="left">631</td>
<td align="left">106</td>
<td align="left">0.01</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">198</td>
</tr>
<tr class="even">
<td align="right">2005</td>
<td align="left">2</td>
<td align="left">22019000</td>
<td align="left">631</td>
<td align="left">106</td>
<td align="left">0.001</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">198</td>
</tr>
<tr class="odd">
<td align="right">2006</td>
<td align="left">2</td>
<td align="left">22019000</td>
<td align="left">631</td>
<td align="left">106</td>
<td align="left">0.01</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">198</td>
</tr>
<tr class="even">
<td align="right">2007</td>
<td align="left">2</td>
<td align="left">22019000</td>
<td align="left">631</td>
<td align="left">106</td>
<td align="left">0.001</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">198</td>
</tr>
<tr class="odd">
<td align="right">2008</td>
<td align="left">2</td>
<td align="left">22019000</td>
<td align="left">631</td>
<td align="left">106</td>
<td align="left">0.01</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">198</td>
</tr>
<tr class="even">
<td align="right">2009</td>
<td align="left">2</td>
<td align="left">22019000</td>
<td align="left">631</td>
<td align="left">106</td>
<td align="left">0.001</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">198</td>
</tr>
<tr class="odd">
<td align="right">2010</td>
<td align="left">2</td>
<td align="left">22019000</td>
<td align="left">631</td>
<td align="left">106</td>
<td align="left">0.001</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">198</td>
</tr>
<tr class="even">
<td align="right">2011</td>
<td align="left">2</td>
<td align="left">22019000</td>
<td align="left">631</td>
<td align="left">106</td>
<td align="left">0.01</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">198</td>
</tr>
<tr class="odd">
<td align="right">2012</td>
<td align="left">2</td>
<td align="left">22019000</td>
<td align="left">631</td>
<td align="left">106</td>
<td align="left">0.001</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">198</td>
</tr>
<tr class="even">
<td align="right">2013</td>
<td align="left">2</td>
<td align="left">22019000</td>
<td align="left">631</td>
<td align="left">106</td>
<td align="left">0.01</td>
<td align="left">NA</td>
<td align="left">NA</td>
<td align="right">NA</td>
<td align="left">198</td>
</tr>
</tbody>
</table>
<p>Characters preceeding numeric weights and character weights</p>
<pre><code>## [1] &quot;f&quot;      &quot;m&quot;      &quot;o&quot;      &quot;qty&quot;    &quot;value&quot;  &quot;weight&quot;</code></pre>
<p>Distribution of numeric weights</p>
<pre class="r"><code>## smaller than one
adjustments_list[[&quot;weight&quot;]][[&quot;numeric&quot;]] %&gt;% .[. &lt; 1] %&gt;% base::summary()</code></pre>
<pre><code>##    Min. 1st Qu.  Median    Mean 3rd Qu.    Max. 
##  0.0000  0.0100  0.1000  0.2082  0.3667  0.9800</code></pre>
<pre class="r"><code>## larger than or equal to one
adjustments_list[[&quot;weight&quot;]][[&quot;numeric&quot;]] %&gt;% .[. &gt;= 1] %&gt;% base::summary()</code></pre>
<pre><code>##     Min.  1st Qu.   Median     Mean  3rd Qu.     Max. 
##        1       16       91    19440      711 10000000</code></pre>
