<!-- rmarkdown fragment highcharter -->
<!-- <script src="{{ page.leadingpath }}assets/libs/jquery-1.11.3/jquery.min.js"></script> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1" /> -->
<link href="{{ page.leadingpath }}assets/libs/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" />
<script src="{{ page.leadingpath }}assets/libs/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script src="{{ page.leadingpath }}assets/libs/bootstrap-3.3.5/shim/html5shiv.min.js"></script>
<script src="{{ page.leadingpath }}assets/libs/bootstrap-3.3.5/shim/respond.min.js"></script>
<!-- <script src="{{ page.leadingpath }}assets/libs/htmlwidgets-0.6/htmlwidgets.js"></script> -->
<script src="{{ page.leadingpath }}assets/libs/underscore-1.8.3/underscore-min.js"></script>
<link href="{{ page.leadingpath }}assets/libs/highcharts-4.2.6/css/motion.css" rel="stylesheet" />
<script src="{{ page.leadingpath }}assets/libs/highcharts-4.2.6/highstock.js"></script>
<script src="{{ page.leadingpath }}assets/libs/highcharts-4.2.6/highcharts-more.js"></script>
<script src="{{ page.leadingpath }}assets/libs/highcharts-4.2.6/highcharts-3d.js"></script>
<script src="{{ page.leadingpath }}assets/libs/highcharts-4.2.6/modules/exporting.js"></script>
<script src="{{ page.leadingpath }}assets/libs/highcharts-4.2.6/modules/drilldown.js"></script>
<script src="{{ page.leadingpath }}assets/libs/highcharts-4.2.6/modules/data.js"></script>
<script src="{{ page.leadingpath }}assets/libs/highcharts-4.2.6/modules/heatmap.js"></script>
<script src="{{ page.leadingpath }}assets/libs/highcharts-4.2.6/modules/map.js"></script>
<script src="{{ page.leadingpath }}assets/libs/highcharts-4.2.6/modules/treemap.js"></script>
<script src="{{ page.leadingpath }}assets/libs/highcharts-4.2.6/modules/funnel.js"></script>
<script src="{{ page.leadingpath }}assets/libs/highcharts-4.2.6/modules/solid-gauge.js"></script>
<script src="{{ page.leadingpath }}assets/libs/highcharts-4.2.6/modules/no-data-to-display.js"></script>
<script src="{{ page.leadingpath }}assets/libs/highcharts-4.2.6/modules/reset.js"></script>
<script src="{{ page.leadingpath }}assets/libs/highcharts-4.2.6/plugins/motion.js"></script>
<script src="{{ page.leadingpath }}assets/libs/highcharts-4.2.6/plugins/draggable-points.js"></script>
<script src="{{ page.leadingpath }}assets/libs/highcharts-4.2.6/plugins/draggable-legend.js"></script>
<script src="{{ page.leadingpath }}assets/libs/highcharts-4.2.6/plugins/pattern-fill-v2.js"></script>
<script src="{{ page.leadingpath }}assets/libs/highcharts-4.2.6/plugins/text-symbols.js"></script>
<script src="{{ page.leadingpath }}assets/libs/highcharts-4.2.6/plugins/symbols-extra.js"></script>
<script src="{{ page.leadingpath }}assets/libs/highcharts-4.2.6/plugins/annotations.js"></script>
<link href="{{ page.leadingpath }}assets/libs/fontawesome-4.5.0/font-awesome.min.css" rel="stylesheet" />
<link href="{{ page.leadingpath }}assets/libs/htmlwdgtgrid-1/htmlwdgtgrid.css" rel="stylesheet" />
<script src="{{ page.leadingpath }}assets/libs/highchart-binding-0.4.0.9999/highchart.js"></script>

<style type="text/css">code{white-space: pre;}</style>
<link rel="stylesheet"
      href="{{ page.leadingpath }}assets/libs/highlight/default.css"
      type="text/css" />
<script src="{{ page.leadingpath }}assets/libs/highlight/highlight.js"></script>

<script type="text/javascript">
if (window.hljs && document.readyState && document.readyState === "complete") {
   window.setTimeout(function() {
      hljs.initHighlighting();
   }, 0);
}
</script>
