<div id="eurostat-cn8" class="section level2">
<h2>Eurostat CN8</h2>
<div id="count-of-reporters-per-period" class="section level3">
<h3>Count of reporters per period</h3>
<pre><code>## # A tibble: 15 × 2
##    period count
##     &lt;chr&gt; &lt;int&gt;
## 1  200052    28
## 2  200152    28
## 3  200252    29
## 4  200352    29
## 5  200452    29
## 6  200552    29
## 7  200652    29
## 8  200752    29
## 9  200852    29
## 10 200952    29
## 11 201052    29
## 12 201152    29
## 13 201252    29
## 14 201352    29
## 15 201452    29</code></pre>
</div>
<div id="unique-reporters-with-iso3-codes" class="section level3">
<h3>Unique reporters with ISO3 codes</h3>
<pre><code>##    codeUN cou
## 1      40 AUT
## 2      56 BEL
## 3     100 BGR
## 4     196 CYP
## 5     203 CZE
## 6     276 DEU
## 7     208 DNK
## 8     724 ESP
## 9     233 EST
## 10    246 FIN
## 11    250 FRA
## 12    826 GBR
## 13    300 GRC
## 14    191 HRV
## 15    348 HUN
## 16    372 IRL
## 17    380 ITA
## 18    440 LTU
## 19    442 LUX
## 20    428 LVA
## 21    470 MLT
## 22    528 NLD
## 23    616 POL
## 24    620 PRT
## 25    642 ROU
## 26    703 SVK
## 27    705 SVN
## 28    752 SWE</code></pre>
</div>
<div id="count-of-partners-per-period" class="section level3">
<h3>Count of partners per period</h3>
<pre><code>## # A tibble: 15 × 2
##    period count
##     &lt;chr&gt; &lt;int&gt;
## 1  200052   232
## 2  200152   243
## 3  200252   244
## 4  200352   244
## 5  200452   244
## 6  200552   245
## 7  200652   244
## 8  200752   244
## 9  200852   243
## 10 200952   243
## 11 201052   244
## 12 201152   243
## 13 201252   243
## 14 201352   249
## 15 201452   249</code></pre>
</div>
<div id="unique-partners-with-iso3-codes" class="section level3">
<h3>Unique partners with ISO3 codes</h3>
<pre><code>## Warning in FUN(.): These ES Geonom codes were not converted to FAO area
## list: 479, 475, 466, 477, 977, 229, 955, 225</code></pre>
<pre><code>##   [1] &quot;533 ABW&quot; &quot;4 AFG&quot;   &quot;24 AGO&quot;  &quot;8 ALB&quot;   &quot;784 ARE&quot; &quot;32 ARG&quot;  &quot;51 ARM&quot; 
##   [8] &quot;16 ASM&quot;  &quot;28 ATG&quot;  &quot;36 AUS&quot;  &quot;36 AUS&quot;  &quot;36 AUS&quot;  &quot;36 AUS&quot;  &quot;36 AUS&quot; 
##  [15] &quot;36 AUS&quot;  &quot;40 AUT&quot;  &quot;31 AZE&quot;  &quot;108 BDI&quot; &quot;56 BEL&quot;  &quot;204 BEN&quot; &quot;854 BFA&quot;
##  [22] &quot;50 BGD&quot;  &quot;100 BGR&quot; &quot;48 BHR&quot;  &quot;44 BHS&quot;  &quot;70 BIH&quot;  &quot;112 BLR&quot; &quot;84 BLZ&quot; 
##  [29] &quot;60 BMU&quot;  &quot;68 BOL&quot;  &quot;76 BRA&quot;  &quot;52 BRB&quot;  &quot;96 BRN&quot;  &quot;64 BTN&quot;  &quot;72 BWA&quot; 
##  [36] &quot;140 CAF&quot; &quot;124 CAN&quot; &quot;756 CHE&quot; &quot;756 CHE&quot; &quot;152 CHL&quot; &quot;384 CIV&quot; &quot;120 CMR&quot;
##  [43] &quot;180 COD&quot; &quot;178 COG&quot; &quot;184 COK&quot; &quot;170 COL&quot; &quot;174 COM&quot; &quot;132 CPV&quot; &quot;188 CRI&quot;
##  [50] &quot;192 CUB&quot; &quot;136 CYM&quot; &quot;196 CYP&quot; &quot;203 CZE&quot; &quot;276 DEU&quot; &quot;262 DJI&quot; &quot;212 DMA&quot;
##  [57] &quot;208 DNK&quot; &quot;214 DOM&quot; &quot;12 DZA&quot;  &quot;218 ECU&quot; &quot;818 EGY&quot; &quot;232 ERI&quot; &quot;724 ESP&quot;
##  [64] &quot;724 ESP&quot; &quot;724 ESP&quot; &quot;233 EST&quot; &quot;231 ETH&quot; &quot;231 ETH&quot; &quot;246 FIN&quot; &quot;242 FJI&quot;
##  [71] &quot;238 FLK&quot; &quot;238 FLK&quot; &quot;250 FRA&quot; &quot;250 FRA&quot; &quot;234 FRO&quot; &quot;583 FSM&quot; &quot;266 GAB&quot;
##  [78] &quot;826 GBR&quot; &quot;268 GEO&quot; &quot;288 GHA&quot; &quot;324 GIN&quot; &quot;270 GMB&quot; &quot;624 GNB&quot; &quot;226 GNQ&quot;
##  [85] &quot;300 GRC&quot; &quot;308 GRD&quot; &quot;304 GRL&quot; &quot;320 GTM&quot; &quot;316 GUM&quot; &quot;316 GUM&quot; &quot;328 GUY&quot;
##  [92] &quot;344 HKG&quot; &quot;340 HND&quot; &quot;191 HRV&quot; &quot;332 HTI&quot; &quot;348 HUN&quot; &quot;360 IDN&quot; &quot;356 IND&quot;
##  [99] &quot;372 IRL&quot; &quot;364 IRN&quot; &quot;368 IRQ&quot; &quot;352 ISL&quot; &quot;376 ISR&quot; &quot;380 ITA&quot; &quot;380 ITA&quot;
## [106] &quot;380 ITA&quot; &quot;388 JAM&quot; &quot;400 JOR&quot; &quot;392 JPN&quot; &quot;398 KAZ&quot; &quot;404 KEN&quot; &quot;417 KGZ&quot;
## [113] &quot;116 KHM&quot; &quot;296 KIR&quot; &quot;659 KNA&quot; &quot;659 KNA&quot; &quot;410 KOR&quot; &quot;414 KWT&quot; &quot;418 LAO&quot;
## [120] &quot;422 LBN&quot; &quot;430 LBR&quot; &quot;434 LBY&quot; &quot;662 LCA&quot; &quot;144 LKA&quot; &quot;426 LSO&quot; &quot;440 LTU&quot;
## [127] &quot;442 LUX&quot; &quot;428 LVA&quot; &quot;446 MAC&quot; &quot;504 MAR&quot; &quot;498 MDA&quot; &quot;450 MDG&quot; &quot;462 MDV&quot;
## [134] &quot;484 MEX&quot; &quot;584 MHL&quot; &quot;807 MKD&quot; &quot;466 MLI&quot; &quot;470 MLT&quot; &quot;104 MMR&quot; &quot;499 MNE&quot;
## [141] &quot;496 MNG&quot; &quot;508 MOZ&quot; &quot;478 MRT&quot; &quot;500 MSR&quot; &quot;480 MUS&quot; &quot;454 MWI&quot; &quot;458 MYS&quot;
## [148] &quot;175 MYT&quot; &quot;516 NAM&quot; &quot;540 NCL&quot; &quot;562 NER&quot; &quot;566 NGA&quot; &quot;558 NIC&quot; &quot;570 NIU&quot;
## [155] &quot;528 NLD&quot; &quot;578 NOR&quot; &quot;524 NPL&quot; &quot;520 NRU&quot; &quot;554 NZL&quot; &quot;554 NZL&quot; &quot;554 NZL&quot;
## [162] &quot;512 OMN&quot; &quot;586 PAK&quot; &quot;591 PAN&quot; &quot;604 PER&quot; &quot;608 PHL&quot; &quot;585 PLW&quot; &quot;598 PNG&quot;
## [169] &quot;616 POL&quot; &quot;408 PRK&quot; &quot;620 PRT&quot; &quot;600 PRY&quot; &quot;275 PSE&quot; &quot;258 PYF&quot; &quot;634 QAT&quot;
## [176] &quot;642 ROU&quot; &quot;643 RUS&quot; &quot;646 RWA&quot; &quot;682 SAU&quot; &quot;686 SEN&quot; &quot;702 SGP&quot; &quot;654 SHN&quot;
## [183] &quot;90 SLB&quot;  &quot;694 SLE&quot; &quot;222 SLV&quot; &quot;706 SOM&quot; &quot;666 SPM&quot; &quot;688 SRB&quot; &quot;688 SRB&quot;
## [190] &quot;688 SRB&quot; &quot;678 STP&quot; &quot;740 SUR&quot; &quot;703 SVK&quot; &quot;705 SVN&quot; &quot;752 SWE&quot; &quot;748 SWZ&quot;
## [197] &quot;690 SYC&quot; &quot;760 SYR&quot; &quot;796 TCA&quot; &quot;148 TCD&quot; &quot;768 TGO&quot; &quot;764 THA&quot; &quot;762 TJK&quot;
## [204] &quot;795 TKM&quot; &quot;776 TON&quot; &quot;780 TTO&quot; &quot;788 TUN&quot; &quot;792 TUR&quot; &quot;798 TUV&quot; &quot;834 TZA&quot;
## [211] &quot;800 UGA&quot; &quot;804 UKR&quot; &quot;858 URY&quot; &quot;840 USA&quot; &quot;840 USA&quot; &quot;840 USA&quot; &quot;860 UZB&quot;
## [218] &quot;670 VCT&quot; &quot;862 VEN&quot; &quot;92 VGB&quot;  &quot;704 VNM&quot; &quot;548 VUT&quot; &quot;876 WLF&quot; &quot;882 WSM&quot;
## [225] &quot;887 YEM&quot; &quot;710 ZAF&quot; &quot;894 ZMB&quot; &quot;716 ZWE&quot; &quot;530 NA&quot;  &quot;1248 NA&quot; &quot;158 NA&quot; 
## [232] &quot;729 NA&quot;</code></pre>
</div>
</div>
