<p>Count of unique FCL mappings by year and flow (SWS table <code>hsfclmap2</code>)</p>
<table>
<thead>
<tr class="header">
<th align="right">mdbyear</th>
<th align="right">flow_1</th>
<th align="right">flow_2</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="right">2009</td>
<td align="right">1077</td>
<td align="right">1078</td>
</tr>
<tr class="even">
<td align="right">2010</td>
<td align="right">1076</td>
<td align="right">1076</td>
</tr>
<tr class="odd">
<td align="right">2011</td>
<td align="right">1072</td>
<td align="right">1072</td>
</tr>
<tr class="even">
<td align="right">2012</td>
<td align="right">1087</td>
<td align="right">1088</td>
</tr>
<tr class="odd">
<td align="right">2013</td>
<td align="right">1068</td>
<td align="right">1067</td>
</tr>
</tbody>
</table>
